<div class="row">
  <form class="col-xs-12 col-md-4">
    <h3>Set Planet</h3>

    <p>enter surface/grid size</p>
    <input type="text" id="surfaceSize" placeholder="i.e. 4,6">
    <input type="submit" ng-click="mars.buildSurface()" value="Create">
  </form>

  <form ng-show="mars.gridSet" class="col-xs-12 col-md-4 slide-animation">
    <h3>Place new Robot</h3>

    <p>enter surface/grid size</p>
    <input type="text" id="robotPosition" placeholder="i.e. 1,2">
    <input type="submit" ng-click="mars.placeRobot()" value="Place">
  </form>

  <form ng-show="mars.robotOnGrid" class="col-xs-12 col-md-4 slide-animation">
    <h3>Move Sequence</h3>

    <p>(use. F, R or L)</p>
    <input type="text" id="moveSequence" placeholder="i.e. FRFFLF">
    <input type="submit" ng-click="mars.moveRobot()" value="Move">
  </form>
</div>

<hr>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <h3>Mars View</h3>

    <p>
      <span ng-hide="mars.gridSet">No grid set.</span>
      <span ng-show="mars.gridSet">Grid Size: {{mars.gridSize}}.</span>

      <span ng-hide="mars.robotOnGrid">No robot placed.</span>
      <span ng-show="mars.robotOnGrid">Robot position: {{mars.currentPositionX}},{{mars.currentPositionY}} {{mars.currentDirection}}.</span>
    </p>

    <div id="mars" class="marsGrid"></div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div ng-show="mars.robotOnGrid" class="slide-animation">
      <h3>Sequence Results</h3>

      <p>position after each completed sequence</p>

      <div class="sequenceOutput">
        <p ng-repeat="position in mars.output track by $index">{{position}}</p>
      </div>
    </div>
  </div>
</div>
